<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="" routerLinkActive="active">Home</a>
            <a class="navbar-item" routerLink="about" routerLinkActive="active">About Me</a>
            <a class="navbar-item" routerLink="project" routerLinkActive="active">Project</a>
            <a class="navbar-item" routerLink="contact" routerLinkActive="active">contact Me</a>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <span class="icon">
                <i class="fa fa-facebook"></i>
                </span>

            </div>
        </div>
    </div>
</nav>