<section class="hero is-black is-large">
    <div class="hero-body">
        <figure class="image is-128x128">
            <img class="is-rounded" src="../../../assets/images/profile_pic.png">
        </figure>
        <p class="title">
            This is Sammy!
        </p>
        <p class="subtitle">
            I am Front-end Developer with 2 years of experience.
        </p>

    </div>
</section>

<section class="section">
    <h1 class="title is-underlined">About me</h1>
    <h2 class="subtitle mt-1">
        Currently I am Student in Hochschule Fulda Studing Bechalor of Computer Science. I am looking for place to learn more as I am just started. I have some basic experience in Front-end Web Development. Apert from College learning, I am into Angular Framework
        now.
        <br> I have great experience in Html5, Scss, Javascript, Jquery, Ajax, Php. With 2 year experience I have great grip on php frameworks and have keen to learn attitute toward Coding.
    </h2>
</section>

<section class="section">
    <h1 class="title is-underlined">Project</h1>
    <h2 class="subtitle is-uppercase">
        Coming Soon!!
    </h2>
</section>

<section class="section">
    <h1 class="title has-text-centered is-underlined">
        Contact Me
    </h1>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input">
        </div>
    </div>

    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Text input">
            <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
            <!-- <span class="icon is-small is-right">
        <i class="fa fa-check"></i>
      </span> -->
        </div>
        <!-- <p class="help is-success is-hidden">This username is available</p> -->
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email input">
            <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
            <!-- <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span> -->
        </div>
        <!-- <p class="help is-danger">This email is invalid</p> -->
    </div>
    <!--
    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
            <div class="select">
                <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
            </div>
        </div>
    </div> -->

    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-black">Submit</button>
        </div>
    </div>
</section>